body{
    font-family: Arial, sans-serif;
}
main{
  width: 70%;
  margin: 40px ;
  padding: 20px 40px;
  border-left: 6px solid white;
}
 h1 {
  font-size: 40px;
  border-bottom: 3px solid blue;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
li > h2 {
  color: blue;
  margin-bottom: 10px;
}
li ul {
  border-left: 3px solid lightgray;
  margin-left: 20px;
  padding-left: 20px;
}
li ul li:hover{
  background-color: rgb(172, 234, 234);
  cursor: pointer;
}
li ul li {
  padding: 12px;
  list-style: none;
  margin: 8px 0;
  background: white;
  font-weight: bold;
  color: rgb(65, 55, 55);
}
#head
{
    color: red
}
p {
  color: grey;
  margin-left:-50px;
  font-style: italic;
}
