body{
    font-family: Arial, sans-serif;
}
.simple {
  width: 70%;
  margin: 40px ;
  padding: 20px 40px;
  border-left: 6px solid white;
}
.simple > h1 {
  font-size: 40px;
  border-bottom: 3px solid blue;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
li > h2 {
  color: blue;
  margin-bottom: 10px;
}
li dl {
  border-left: 3px solid lightgray;
  margin-left: 20px;
  padding-left: 20px;
}
li dl .blue:hover{
  background-color: aqua;
  cursor: pointer;
}
li dl dd {
  padding: 12px;
  margin: 8px 0;
  background: white;
  font-weight: bold;
  color: rgb(65, 55, 55);
}
.head h2{
    color: red
}
.simple > p {
  color: grey;
  margin-left:-50px;
  font-style: italic;
}
